<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Assignment - {{assignment.name}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background: -moz-linear-gradient(right, #ffd89b, #19547b)">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Lance Strait</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{assignment.name}}
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8" style="background-color:white; opacity:0.75;">
                <ul>
                {% for child in assignment.children recursive%}
                    {% if child.children |length != 0 %}
                        <li>{{child.get_directory_name()}}</li>
                        <ul> {{loop(child.children)}}</ul>
                    {% else %}
                        <li><a href="/assignments/{{assignment.name}}/files/{{child.name}}">{{child.get_file_name()}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div class="col-md-4">
                <h2><b><u>Project Details</u></b></h2>
                <br>
                <h4><b>Summary</b>: {{assignment.get_summary()}}</h4>
                <br>
                <h4><b>Date</b>: {{assignment.date}}</h4>
                <br>
                <h4><b>Revision</b>: {{assignment.revision}}</h4>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row" align="center">

            <div class="col-lg-12">
                <h3 class="page-header">Related Assignments</h3>
            </div>

            {% for assign in related_assignments %}
            <div class="col-sm-2 col-xs-9">
                <a href="/assignments/{{assign.name}}" style="background-color:white; opacity:0.50; font-size: 1.5em;">
                    {{assign.name}}
                </a>
            </div>
            {% endfor %}

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- My own jQuery script -->
    <script>
    $(document).ready(function(){
        $(".col-md-4").hover(
            function(){
                $("h4").animate({
                    fontSize: '36px'

                });
            },
            function(){
                $("h4").animate({
                    fontSize: '18px'

                });
            }
        );
    });
    </script>

</body>

</html>
