<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CS242 Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/1-col-portfolio.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- gradient from https://uigradients.com/#Dusk -->
<body style="background: -moz-linear-gradient(right, #ffd89b, #19547b)">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Lance Strait</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row" align="center">
            <div class="col-lg-12">
                <h1 class="page-header">CS242 Portfolio</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- First Assignment -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="../static/images/Pac-man.png" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><b>{{portfolio[0].name}}</b></h3>
                <br>
                <p>Summary: {{portfolio[0].get_summary()}} </p>
                <p> Revision: {{portfolio[0].revision}}</p>
                <p> Date: {{portfolio[0].date}}</p>
                <br>
                <a class="btn btn-primary" href="/assignments/{{portfolio[0].name}}">View Assignment <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        <!--- /.row -->

        <!-- Chess Assignments -->
        {% for assignment in portfolio[1:4] %}
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="../static/images/chess.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><b>{{assignment.name}}</b></h3>
                <br>
                <p> Summary: {{assignment.get_summary()}} </p>
                <p> Revision: {{assignment.revision}}</p>
                <p> Date: {{assignment.date}}</p>
                <br>
                <a class="btn btn-primary" href="/assignments/{{assignment.name}}">View Assignment <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        {% endfor %}
        <!-- /.row -->

        <!-- Movie Assignments -->
        {% for assignment in portfolio[4:6] %}
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="../static/images/kevin_bacon.jpeg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><b>{{assignment.name}}</b></h3>
                <br>
                <p> Summary: {{assignment.get_summary()}}</p>
                <p> Revision: {{assignment.revision}}</p>
                <p> Date: {{assignment.date}}</p>
                <br>
                <a class="btn btn-primary" href="/assignments/{{assignment.name}}">View Assignment <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <hr>
        {% endfor %}
        <!-- /.row -->

        <!-- Portfolio Assignments -->
         <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="../static/images/portfolio.jpeg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3><b>{{portfolio[6].name}}</b></h3>
                <br>
                <p>Summary: {{portfolio[6].get_summary()}} </p>
                <p> Revision: {{portfolio[6].revision}}</p>
                <p> Date: {{portfolio[6].date}}</p>
                <br>
                <a class="btn btn-primary" href="/assignments/{{portfolio[6].name}}">View Assignment <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $(".img-responsive").hover(
            function(){
                $(this).animate({
                    opacity: '0.5'

                });
            },
            function(){
                $(this).animate({
                    opacity: '1.0'

                });
            }
        );
    });
    </script>

</body>

</html>